{% extends "base.html" %}	


<!--about start -->
<section id="about" class="about">
	<!--<div class="section-heading text-center">
		<h2>about me</h2>
	</div>-->
	<div class="container">
		<div class="about-content">
			<div class="row">

				<div class="col-sm-offset-1 col-sm-5">
					<div class="single-about-img">
						<img src="assets/images/about/profile_image.jpg" alt="profile_image">
					</div>

				</div>

				<div class="col-sm-6">
					<div class="single-about-txt">
						<h3>
							I am a Professional UI/UX Designer and Web developer. Consectetur an adipisi elita, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam quis nostrud.
						</h3>
						<p>
							Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspi unde omnis iste natus error sit voluptatem accusantium doloremque lauda ntium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam vo luptatem quia voluptas sit aspernatur aut odit aut fugit,
						</p>
						<div class="row">
						</div>
						<div class="apply test-center">
							<div class="heading">
								<h2> 지금 바로 신청하기</h2>
							</div>
							<div class="forms">
								<input type="text" id="apply-email" placeholder="booup@gmail.com"/>
								<select id="apply-value">
									<option>블로그</option>
									<option>전자책</option>
									<option>구매대행</option>
								</select>
								<button class="apply-button">Click</button>
							</div>
						</div>
					</div>
				</div>


			</div>
		</div>
	</div>
</section><!--/.about-->

<!--about end -->

<!--education start -->
<section id="education" class="education">
	<div class="section-heading text-center">
		<h2>education</h2>
	</div>
</section><!--/.education-->
<!--education end -->
<section id="content" class="content">
	<div class="content-container">
		<div class="content-box">
			<p> long content1</p>
		</div>
		<div class="content-box">
			<img src="assets/images/portfolio/p5.jpg", alt="">
		</div>
		<div class="content-box">
			<p> long content2</p>
		</div>
	</div>
</section>
